* {
    margin: 0;
    padding: 0;
}

:visited {
    color: inherit;
}
:any-link {
    color: inherit;
}

body {
    background: rgb(221, 177, 223);/*linear-gradient(28deg, rgba(113,33,102,1) 0%, rgba(186,19,168,1) 30%, rgba(255,255,255,1) 100%); */
    font-size: 18px;
    font-family: 'Oswald' , Arial, Helvetica, sans-serif;
    margin: 20px 40px 40px 40px;

}

.container {
    display:grid;
}

hr {
    color: whitesmoke;
}

.header {
    display: grid;
    grid-template-areas:'kiri kanan';
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content;
    list-style: none;
    margin-bottom: 10px;
}

.kiri {
    grid-area: kiri;
    text-align: left;
    place-self: center;
}
.kanan {
    grid-area: kanan;
    text-align: right;
    list-style: none;
    place-self: center;
}

.galeri {
    display: grid;
    grid-template-areas:
        'g1 g2 g3 g4'
        'g5 kosong kosong g6';
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: max-content max-content max-content;
    gap: 10px;
    place-self: center;
}

.g1 {
    grid-area: g1;
    height: 400px;
    width: 300px;
    place-self: center;
}
.g2 {
    grid-area: g2;
    height: 400px;
    width: 300px;
    place-self: center;
}
.g3 {
    grid-area: g3;
    height: 400px;
    width: 300px;
    place-self: center;
}
.g4 {
    grid-area: g4;
    height: 400px;
    width: 300px;
    place-self: center;
}
.g5 {
    grid-area: g5;
    height: 400px;
    width: 300px;
    place-self: center;
}
.kosong {
    grid-area: kosong;
    height: 400px;
    width: 300px;
    place-self: center;
    display: none;
}
.g6 {
    grid-area: g6;
    height: 400px;
    width: 300px;
    place-self: center;
}

.menu {
    order: -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.menu .brand {
    font-size: 1.3em;
    color: whitesmoke;
}

.menu ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
}

.menu a {
    display: block;
    background-color: whitesmoke;
    color: rgb(118, 48, 120);
    text-decoration: none;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-size: 0.9em;
}

@media (max-width : 1024px) {
    .menu {
        order: inherit;
        grid-template-columns: 1fr;
    }

    .menu .brand {
        display: none;
    }

     .herox >* {
        display: block;
    }

    .herox {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
}

@media (max-width : 550px) {
    .header {
        grid-template-areas: 
        'atas'
        'kiri'
        'kanan';
        grid-template-rows: auto;
        grid-template-columns: max-content;
        place-self: center;
    }
    .atas {
        text-align: left;
        font-size: 1.7em;
        color: whitesmoke;
        font-weight: bold;
    }
    .kanan {
        text-align: center;
        margin-bottom: 15px;
        font-size: 0,8em;
    }
    .kiri {
        text-align: center;
        margin-bottom: 15px;
        font-size: 0,8em;
    }
    .menu ul {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
    .galeri {
        display: grid;
        grid-template-areas:
            'g1 g2'
            'g3 g4'
            'g5 g6';
        grid-template-columns: max-content;
        grid-template-rows: max-content;
        margin-bottom: 10px;
    }
    .g1 {
        grid-area: g1;
        height: 200px;
        width: 150px;
        place-self: center;
    }
    .g2 {
        grid-area: g2;
        height: 200px;
        width: 150px;
        place-self: center;
    }
    .g3 {
        grid-area: g3;
        height: 200px;
        width: 150px;
        place-self: center;
    }
    .g4 {
        grid-area: g4;
        height: 200px;
        width: 150px;
        place-self: center;
    }
    .g5 {
        grid-area: g5;
        height: 200px;
        width: 150px;
        place-self: center;
    }
    .g6 {
        grid-area: g6;
        height: 200px;
        width: 150px;
        place-self: center;
    }
    @media (prefers-color-scheme: light)
}